* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

.btn {
    background-color: #F17C0E;
    color: white;
    border: none;
}

#copyright {
    padding: 0 2%;
}

/*
content (clubs list) styling
*/
#clubsList {
    text-align: center;
    padding-bottom: 8rem;
    /* THESE MAKE THE CLUB GROUPS SCROLLABLE */
    /* overflow: auto; */
    /* height: 500px;; */
}

.clubGroup {
    width: 100%;
    margin: 20px 0;
}

.clubGroupButton {
    width: 80%;
    height: 150px;
    border: none;
    border-radius: 10px;
    padding: 0 5%;
    font-size: 20pt;
    background-color: #c1c3c5;
}

.clubGroupButton:hover {
    box-shadow: 0px 0px 12px rgb(81, 81, 81);
    transition: 0.3s;
}

/* styling for the unnoficial / official buttons*/
.club-toggle {
    display: flex;
    flex-direction: row;
    background-color: #808385;
    /* border: solid grey 1px; */
}

.words:hover {
    background-color: #707070;
    transition: 0.3s;
}

.words {
    display: flex;
    border: none;
    height: 30px;
    width: 50%;
    padding: 1.25rem 0;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: transparent;
}

/*
what does this do? i don't see a corresponding class in the html (doesnt do anything just forgot to delete it)
*/
/* .top-lock {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 23px;
} */

a{
    display:block;
    text-decoration: none;
    color:black;
}