* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    /*This was to fix a small horizontal overflow on the clubsList page may be removable later if it is in generalStyle */
    max-width: 100vw;
}

#searchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #d4cdcd;
}

#createClubButton {
    /* WHY IS THE ALIGNMENT SLIGHTLY OFF (╥﹏╥) 
    DON'T CRY I FIXED IT!!!!
    ok i lied its still slightly off center*/
    width: 60px;
    height: 60px;
    font-size: 24pt;
    background-color: #4089C0;
    color: white;
    border-radius: 50%;
    margin: 10px;
    border: none;
    position: fixed;
    bottom: 128px;
    right: 0;
    z-index: 999;
}

#copyright {
    padding: 0 2%;
}

/*
content (clubs list) styling
*/
#clubsList {
    text-align: center;
    /* THESE MAKE THE CLUB GROUPS SCROLLABLE */
    /* overflow: auto; */
    /* height: 500px;; */
}

#clubs-go-here, #unofficialClubs-go-here {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.8rem 0;
    gap: 25px;
    margin: 0;
}

.clubGroup {
    min-height: 250px;
    width: 80%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.clubGroup:hover .nameTag{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24pt;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.9;
    transition: .3s ease;
}

.clubGroupButton {
    min-width: 100%;
    min-height: 250px;
    border: none;
    font-size: 20pt;
    object-fit: cover;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.nameTag {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2.5% 0;
    font-size: 16pt;
    background-color: #d4cdcd;
    transition: 0.6s ease;
}

/* .clubGroupButton:hover {
    box-shadow: 0px 0px 12px rgb(81, 81, 81);
    transition: 0.3s;
} */

/* styling for the unofficial / official buttons*/
.club-toggle {
    display: flex !important;
}

#officialToggle, #unofficialToggle {
    width: 50%;
    background-color: #EEE5E5;
    color: rgb(197, 185, 185);
    border: none;
}

.club-toggle .nav-link.active {
    background-color: #DDCECD !important;
    color: black !important;
}

.club-toggle .nav-link.active:hover {
    color: black !important;
}


/* .words:hover {
    background-color: #707070;
    transition: 0.3s;
}

.words {
    display: flex;
    border: none;
    height: 30px;
    width: 50%;
    padding: 1.25rem 0;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: transparent;
} */

/*
what does this do? i don't see a corresponding class in the html (doesnt do anything just forgot to delete it)
*/
/* .top-lock {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 23px;
} */

a {
    display:block;
    text-decoration: none;
    color:black;
}

#cl {
    background-color: #4089C0;
}

.spacer {
    height: 118px !important;
}