#clubImage {
  height: 275px;
  width: 100vw;
  background-size: 100% auto;
  background-repeat: no-repeat;
  object-fit: contain;
}

.content {
  padding: 0rem 0 4rem; /* note to self (ak): maybe change bottom padding, come back once whole page is set up */
  position: relative;
}

.contentSection:first-of-type {
  padding-top: 0;
}

button {
  /* doesn't have to be this color but orange was starting to make me want to peel my eyes */
  /* wow I have been quoted -- my life is complete */
  background-color: #85ac9f;
  color: white;
  padding: 0.6rem;
  font-size: 12pt;
  border: none;
  border-radius: 5px;
  vertical-align: middle;  
}

#Admin-edit-button-goes-here {
  top: 0;
  right: 0;
  position: absolute;
}

#Admin-edit-button-goes-here button {
  margin-top: 0.6rem;
  margin-right: 0.6rem;
}

#insert-add-event button {
  margin-left: 0.6rem;
}

.contentSection {
  position: relative;
}

#insertJoinOrLeave button {
  width: 6rem;
  background-color: #EB7875;
  position: absolute;
  right: 0;
}

.pfp {
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
}

#see-all {
  background-color: transparent;
  border: none;
  color: grey;
  text-decoration: underline;
}