.welcomeBanner {
  padding: 8%;
  text-align: center;
  background-color: white;
}
#house {
  background-color: #4089C0;
}

#events-go-here {
  padding-top: 35px;
}

.eventName {
  cursor: pointer;
  width: max-content;
}

/*
content (clubs list) styling copied over from clubsListStyle.css
*/
#clubs-go-here {
  display: flex;
  width: 100vw;
  flex-direction: row;
  gap: 25px;
  margin: 0;
  overflow: scroll;
  margin: -20px -20px;
  padding: 20px 20px;
}

.clubGroup {
  min-width: 15.5rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 1rem;
  box-shadow: 0px 0px 8px rgb(216, 215, 215);
  overflow: hidden;
}

.clubGroup:hover .nameTag{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18pt;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.9;
  transition: .3s ease;
}

.clubGroupButton {
  height: 200px;
  width: 100%;
  border: none;
  font-size: 20pt;
  object-fit: cover;
  background-size: auto 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.nameTag {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2.5% 0;
  font-size: 16pt;
  background-color: #003d6bff;
  color: white;
  transition: 0.6s ease;
}

#goingCheck {
  float: right;
}

label {
  font-size: 10pt;
}