* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

/* THIS IS ALL INSIDE THE GENERALSTYLE.CSS */
/* .navbar {
    background-color: #003d6bff;
}

#mainNav {
    background-color: #003e6eff;
    position: sticky;
    top: 0;
    overflow: hidden;
}

.navbar-brand {
    color: white;
}

.nav-link {
    color :lightGrey;
}

#hamburg {
    background-color: rgb(22, 121, 196);
} */

.btn {
    background-color: #EB7875;
    color: white;
    border: none;
}

.btn:hover {
    background-color: #4089C0;
}

#copyright {
    padding: 0 2%;
}

/*
content styling
*/

/* THIS IS ALSO INSIDE GENERALSTYLE.CSS */
/* styling for the bottom navbar & buttons */
/* #bottomNav {
    margin: 0;
    padding: 0;
    min-width: 100vw;
}

#bottomButtons {
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.lowerNavButton {
    height: 100%;
    padding: 1.5rem 0;
    flex: 1;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #003d6bff; 
}

.lowerNavButton:hover {
    background-color: #F17C0E;
    transition: 0.3s;
}
*/

/* icon styling for lower nav */
/* STILL INSIDE GENERALSTYLE
.lowerNavImage {
    max-width: 30px;
    max-height: 30px;
    object-fit: contain;
    margin: 0;
} */