body {
    max-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    margin: 0;
}

#mainNav {
    grid-row: 1;
}

#whole-profile {
    grid-row: 2;
    display: grid;
    position: relative;
    height: 100%;
    width: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: repeat(11, auto);
}

#profile-image {
    grid-column: 2 / span 2;
    grid-row: 1 / span 5;
}

#green {
    grid-column: 1 / span 5;
    grid-row: 6 / span 5; 
}

.responsive {
    width: 100%;
    height: auto;
}

.rounded-circle {
    aspect-ratio: 1 / 1;
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
    /* Centers the circle horizontally */
}


#edit-profile {
    margin-left: 8%;
    grid-column: 1;
    grid-row: 6;
    border-radius: 10px;
}

#userName {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    margin-bottom: 0;
    /* background-color: orange; */
    grid-column: 1 / span 4;
    grid-row: 7;
    font-size: 14pt;
}

#displayName {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    margin-bottom: 0;
    /* background-color: pink; */
    grid-column: 1 / span 4;
    grid-row: 8;
    font-size: 14pt;
}

#email {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    margin-bottom: 0;
    /* background-color: purple; */
    grid-column: 1 / span 4;
    grid-row: 9;
    font-size: 14pt;
}

#bio {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    margin-bottom: 0;
    grid-column: 1 / span 4;
    grid-row: 10;
    font-size: 14pt;
    border: 1px lightgrey solid;
}

#Log-out-Button {
    grid-row: 11;
    grid-column: 4;
    /* position: absolute; 
    bottom: 0; 
    right: 0; */
    /* background-color: lightblue; */
    justify-self: right;
    padding: 10px;
}

#bottomNav {
    grid-row: 3;
}