* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

.btn {
    background-color: #85ac9f;
    color: white;
    border: none;
}

#copyright {
    padding: 0 1.5rem;
}